/* On grid elements */

.grid-container {
    /* total size from the previous containing part: */
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.front-page {
    grid-column: 1;
    grid-row: 1;
    /* total size from the previous containing part: */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 72% 8%;
}

#title {
    grid-column: 1;
    grid-row: 1;
    font-size: xx-large;
    align-self: center;
    text-align: center;
    font-weight: bolder;
    color: lightpink;
}


/* Start Menus */

.start-menu {
    /* aplied to all components */
    grid-column: 1;
    grid-row: 2;
    color: lightpink;
    background-color: rgb(50, 42, 66);
    background-size: 10%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /*cambio el eje principal a Y (sino X)*/
    justify-self: center;
    /*justifica en el eje principal - Y, en este caso lo ajusto*/
    align-items: center;
    /*alinea en el eje secundario - X*/
    justify-content: space-between;
    padding-inline: 30px;
}

.log-in,
.sign-in {
    display: contents;
    /* displays components as in parents node */
}

/* Footer */

footer {
    grid-column: 1;
    grid-row: 3;
    font-size: small;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightpink;
}


/* Room Window */

#room-window {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-columns: 100% 0%;
    /* second changes showing de panel*/
    grid-template-rows: 100%;
}


/* Inside room-window elements: */

/* Fixed global elements*/
#room-name {
    grid-column: 1;
    grid-row: 1;
    position: absolute;
    top: 10px;
    left: 15px;
    font-weight: bolder;
    font-size: x-large;
    color: lightpink;
}

#menu-buttons {
    grid-column: 1;
    grid-row: 1;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
}
#conf-access-button, #exit-button {
    font-size: x-large;
    font-weight: bold;
    padding-top: 5px;
}
#chat-access-button {
    padding-block: 15px;
}

#music-player-container {
    grid-column: 1;
    grid-row: 1;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#video-space {
    grid-column: 1;
    grid-row: 1;
    size: 0 0;
}


/* Canvas */

#canvas-interface {
    grid-column: 1;
    grid-row: 1;
}

/* #representation {
    width: 100%;
    height: 100%;
} */


/* Chat */
#panel-interface {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

#chat-interface {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 66% 6% 8%;
}

#users-panel {
    grid-column: 1;
    grid-row: 1;
    font-weight: bolder;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    font-size: small;
    padding: 5px;
}

#chat {
    grid-column: 1;
    grid-row: 2;
    background-color: rgb(63, 53, 83);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin-inline: 5px;
    /*enable scroll bar*/
    overflow: auto;
    height: 100%;
}

#sender-info {
    grid-column: 1;
    grid-row: 3;
    align-self: center;
    display: flex;
    justify-content: flex-end;
    color: lightpink;
}

#user-interface {
    grid-column: 1;
    grid-row: 4;
    margin-inline: 5px;
    align-self: flex-start;
    /*aling top*/
    /* centro forzado */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Configuration */

#conf-interface {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 35% 55%;
}

#character-custom {
    grid-column: 1;
    grid-row: 2;
}

#user-setting {
    grid-column: 1;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    /*cambio el eje principal a Y (sino X)*/
    justify-self: center;
    /*justifica en el eje principal - Y, en este caso lo ajusto*/
    align-items: center;
    /*alinea en el eje secundario - X*/
    justify-content: space-between;
}